---
import NavBar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import AboutMe from '../components/aboutMe.astro';
import Work from '../components/work.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script src="https://kit.fontawesome.com/f483d500ad.js" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Arun Resume</title>
	</head>
	<body class="">
		<NavBar/>
		<Hero/>
		<AboutMe />
		<Work />
	</body>
</html>
