---
import NavBar from '../components/navbar.astro';
import Hero from '../components/hero.astro';
import AboutMe from '../components/aboutMe.astro';
import Work from '../components/work.astro';
import Education from '../components/education.astro';
import Skill from '../components/skill.astro';
import Projects from '../components/projects.astro';
import References  from '../components/references.svelte';
import Footer from '../components/footer.astro';
const response = await fetch("https://arun-manohar-resume-api.herokuapp.com");
const data = await response.json();
---

<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<script src="https://kit.fontawesome.com/f483d500ad.js" crossorigin="anonymous"></script>
		<meta name="generator" content={Astro.generator} />
		<title>Arun Resume</title>
	</head>
	<body class="">
		
		<NavBar />
		<Hero/>
		<AboutMe 
		summary={data["basics"]["summary"]} 
		location= {data["basics"]["location"]}
		phone={data["basics"]["phone"]} 
		emailId={data["basics"]["email"]}
		/>
		<Work work={data["work"]}/>
		<Education education={data["education"]}/>
		<Skill skills={data["skills"]} />
		<Projects projects={data["publications"]} />
		<References refsList={data["references"]} client:media="(min-width:768px)"/>
		<Footer />
	</body>
</html>
