---
const { education } = Astro.props;
import DateFormat from "../utils/dateFormat.astro";
---
<div class="md:pt-12" id="education">
<div class="flex flex-col md:flex-row my-8 space-y-5 md:space-y-0  mx-5" >
  <!-- work title text  -->
  <div class="basis-1/4 group my-5 flex justify-center items-start">
    <p
      class="text-black font-semibold text-2xl underline underline-offset-8 decoration-4 tracking-wider decoration-blue-500 uppercase"
    >
      education
    </p>
  </div>
  <!-- companies -->
  <div class="basis-1/2 mb-4 flex flex-col justify-start items-start">
    {education.map((item) => (
        <div class="flex flex-col space-y-2  group md:hover:scale-110 ease-in-out m-5 transition">
             <!-- institution name -->
            <div class="text-3xl font-bold transition ease-in-out md:group-hover:text-blue-500">
                {item["institution"]}
            </div>
            <!-- course and start and end date -->
            <div class="flex flex-col md:flex-row">
                <div class="text-gray-500 text-sm font-light">{item["area"]}</div>
                <div class="hidden md:block text-base text-gray-500 font-semibold mx-2">•</div>
                <div class="text-gray-500 text-sm font-light">{item["summary"]}</div>
                <div class="hidden md:block text-base text-gray-500 font-semibold mx-2">•</div>
                <div class="text-gray-500 text-sm font-light flex flex-row">
                  <DateFormat date={item["startDate"]}/>
                  <span class="text-base text-gray-500 font-semibold mx-2">-</span>
                  <DateFormat date={item["endDate"]}/>
                </div>
            </div>
        </div>
    ))}
  </div>
</div>
</div>