---
---

<a href="#aboutMe">
  <div class="group">
    <div
      class="container transition ease-out mt-16 mb-10 h-32 w-16 border-2 border-white rounded-full p-7 group-hover:border-blue-500 group-hover:translate-y-5"
    >
      <div
        class="rounded bg-white container h-2 w-2 border border-white animate-upDown transition group-hover:border-blue-500 group-hover:bg-blue-500"
      >
      </div>
    </div>
  </div>
</a>
